/**
*  Convert pixels to rems
 * @mixin Rems px font
 * Use: @include rem(12);
 * @section Convert Rems
 * Assumes $em-base is the font-size of <html>
 */

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: $em-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}
